<h1>Seja bem-vindo!</h1>
<h2><strong><%= nome_aplicacao %></strong></h2>
<p><strong>Data: </strong><%= data_br(Date.today) %></p>
<ul>
    <li>
        <%= link_to "Cadastro de Moedas", coins_path%>
    </li>
</ul>

<p>Você está em um ambiente de <strong><%= ambiente_rails %></strong></p>